/* Defaults */

html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset
{
  margin: 0;
  padding: 0;
  border: 0;
}

body
{
  color: #666666;
  font-family: Arial;
  font-size: 12px;
}
a, a:visited
{
  text-decoration: none;
  color: #666666;
}
a:hover
{
  /* text-decoration: underline;*/
  color: #000000;
}
a.email
{
  text-decoration: underline;
}
a.email:visited
{
  text-decoration: underline;
}
p
{
  margin-bottom: 10px;
}
h1
{
  font-size: 28px;
}
h2
{
  font-size: 21px;
}
h3
{
  font-size: 16px;
}
h4
{
  font-size: 14px;
}
h5
{
  font-size: 12px;
}
h6
{
  font-size: 11px;
}
h1, h2, h3, h4, h5, h6
{
  margin-bottom: 10px;
  color: #11822d;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
  color: #11822d;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  color: #11822d;
}
h1.highlight, h2.highlight, h3.highlight, h4.highlight, h5.highlight, h6.highlight
{
  color: #11822d;
}
h1.highlight:visited, h2.highlight:visited, h3.highlight:visited, h4.highlight:visited, h5.highlight:visited, h6.highlight:visited
{
  color: #11822d;
}
.font_16
{
  color: #11822d;
  font-size: 16px;
}
.font_21
{
  color: #11822d;
  font-size: 21px;
}
.font_12
{
  color: #11822d;
  font-size: 12px;
}
.font_14
{
  color: #11822d;
  font-size: 14px;
}
.font_12.highlight, .font_14.highlight, .font_16.highlight, .font_21.highlight
{
  color: #1fcc7b;
}
.font_12.highlight:visited, .font_14.highlight:visited, .font_16.highlight:visited, .font_21.highlight:visited
{
  color: #11822d;
}
img
{
  border: 0px solid Transparent;
}
input[type='text'], textarea
{
  width: 300px;
  font-family: Arial;
  font-size: 12px;
  color: #333333;
  border: solid 1px #E3E9EF;
  border-top-color: #ABADB3;
  border-radius: 2px;
  padding: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  padding-left: 4px;
}
input[type='text']:hover, input[type='text']:focus, textarea:hover, textarea:focus
{
  border-color: #B7D9ED;
  border-top-color: #11822d;
}
ul, ol
{
  list-style-type: none;
}

.nine_box
{
}
.nine_box > .top_right
{
  width: 100%;
  height: 5px;
  clear: both;
  background-position: right -5px;
  background-repeat: no-repeat;
  background-image: url('Images/top.png');
}
.nine_box > .top_right > .top_left
{
  height: 100%;
  margin-right: 5px;
  background-position: left 0px;
  background-repeat: no-repeat;
  background-image: url('Images/top.png');
}
.nine_box > .top_right > .top_left > .top
{
  height: 100%;
  margin-left: 5px;
  background-position: left -10px;
  background-repeat: repeat-x;
  background-image: url('Images/top.png');
}
.nine_box > .mid_right
{
  width: 100%;
  clear: both;
  background-color: #11822d;
}
.nine_box > .mid_right > .mid_left
{
  margin-right: 0px;
}
.nine_box > .mid_right > .mid_left > .mid
{
  margin-left: 0px;
}
.nine_box > .bottom_right
{
  width: 100%;
  height: 5px;
  clear: both;
  background-position: right -5px;
  background-repeat: no-repeat;
  background-image: url('Images/bottom.png');
}
.nine_box > .bottom_right > .bottom_left
{
  height: 100%;
  margin-right: 5px;
  background-position: left 0px;
  background-repeat: no-repeat;
  background-image: url('Images/bottom.png');
}
.nine_box > .bottom_right > .bottom_left > .bottom
{
  height: 100%;
  margin-left: 5px;
  background-position: left -10px;
  background-repeat: repeat-x;
  background-image: url('Images/bottom.png');
}

.right
{
  float: right;
}
.left
{
  float: left;
}
.clear
{
  clear: both;
}
.clearleft
{
  clear: left;
}

/* Buttons */
.button_icon
{
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
}
.button_icon.next
{
  background-image: url('Images/navigate_right.png');
}
.button
{
  height: 26px;
  width: auto;
  line-height: 24px;
  display: inline-block;
  color: white;
  text-align: center;
  white-space: nowrap;
  /* background-image: url('Images/button-up-left.png'); */
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 6px;
}
.button:hover
{
  background-image: url('Images/button-hover-left.png');
  color: #FFFFFF;
}
.button:visited
{
  color: #FFFFFF;
}
.button span
{
  cursor: pointer;
  display: block;
  height: 26px;
  line-height: 24px;
  background-image: url('Images/button-up.png');
  background-repeat: no-repeat;
  background-position: right 0;
  padding-left: 9px;
  padding-right: 17px;
  border-radius: 5px 3px;
  box-shadow: 3px 2px 6px #888888;
}
.button:hover span
{
  background-image: url('Images/button-hover.png');
}

/* Highslide */
body .highslide-controls
{
  width: 125px;
}
body .highslide-move
{
  display: none;
}
body .highslide-full-expand
{
  display: none;
}
body .highslide-active-anchor img
{
  visibility: visible;
}

/* Chosen */
body .chzn-container
{
  font-size: 12px;
  cursor: pointer;
}
body .chzn-container-single
{
  margin-bottom: 5px;
}
body .chzn-container-single .chzn-single
{
  border: solid 1px #E3E9EF;
  border-top-color: #ABADB3;
  border-radius: 2px;
  height: 16px;
  line-height: 16px;
  padding: 2px 2px 2px 4px;
  color: #333333;
}
body .chzn-container-single .chzn-single:hover, body .chzn-container-single .chzn-single:focus
{
  border-color: #B7D9ED;
  border-top-color: #11822d;
}
body .chzn-container-single .chzn-single div
{
  background-color: Transparent;
  filter: none;
  border-left: solid 1px transparent;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
body .chzn-container-single .chzn-single:hover div, body .chzn-container-single .chzn-single:focus div
{
  border-left-color: #B7D9ED;
}
body .chzn-container-single .chzn-single div b
{
  
}
body .chzn-container-single .chzn-single span
{
  margin-right: 36px;
}
body .chzn-container-single .chzn-single span.default
{
  color: #292929;
}
body .chzn-container-single .chzn-single abbr
{
  top: 5px;
  right: 20px;
}
body .chzn-container-single .chzn-single abbr:hover
{

}
body .chzn-container-single .chzn-search input[type='text']
{
  filter: none;
  border: solid 1px #E3E9EF;
  border-top-color: #ABADB3;
  border-radius: 2px;
  height: 16px;
  line-height: 16px;
  padding: 2px;
  padding-left: 4px;
  font-size: 12px;
}
body .chzn-container-single .chzn-search input[type='text']:hover
{
  border-color: #B7D9ED;
  border-top-color: #11822d;
}
body .chzn-container-single .chzn-search input
{
  border: solid 1px #E3E9EF;
  border-top-color: #ABADB3;
  border-radius: 2px;
  height: 16px;
  line-height: 16px;
  padding: 2px;
}
body .chzn-container .chzn-drop
{
  border: solid 1px #E3E9EF;
  border-top: solid 0px transparent;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
body .chzn-container .chzn-results .highlighted
{
  background-color: #DEF0F7;
  color: #333333;
}

.newsLetter_label
{
  padding-bottom: 5px;
  width: 50px;
}

.newsLetter_Input
{
  width: 100px;
  padding-bottom: 5px;  
}

.newsLetter_Star_required
{
  width: 100px;
  padding-bottom: 5px;  
}

.newsLetter_validate
{
  color: #ea5200;
  margin-left: 10px;
}

/* Colors */
/* Light Blue       #00AEEF */
/* Dark Blue        #104E85 */
/* BG Dark Blue     #12538D */
/* BG Light Blue    #DEF0F7 */
/* Dark Grey        #666666 */
/* Black            #000000 */
/* White            #FFFFFF */
/* Validation       #EA5200 */